@import url(reset.css);
@import url(components.css);

body {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #1A1A1A;
    background-color: #fff;
}

.wrapper {
    min-height: 100%;
    overflow: clip;

    display: flex;
    flex-direction: column;
}

.header {
    height: 50px;
    background-color: #99f49c;
    margin-bottom: 20px;
}

.page>.section {
    margin-bottom: 20px;
}

[class*="__container"] {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;
}

.section__title {
    font-size: 22px;
    font-weight: 600;
}

.section__content {
    margin-top: 20px;
}

.section__catalog {
    display: flex;
    flex-wrap: wrap;
}

/* ------- Product card ------- */
.card {
    flex: 0 0 100%;
    transition: 0.3s;
    border: 1px solid #E6E6E6;
    margin: 0 0 -1px 0;
    position: relative;
}

.card__footer {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px
}

.card__caption {
    font-size: 16px;
    color: #4D4D4D;
}

.card__link {
    width: 100%;
    height: auto;
}

.card__img-wrp {
    padding: 5px;
    width: 100%;
    text-align: center;
}

.card__img {
    aspect-ratio: 254 / 230;
}

.card__text>*:not(:last-child) {
    margin-bottom: 5px;
}

.extra-buttons {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

/* ------- Article ------- */
.section__articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 14px;
}

.article {
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(100% / 1);
    transition: 0.3s;
}

.article__link {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.article__img-wrp {
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    position: relative;
}

.article__img {
    aspect-ratio: 424 / 324;

}

.article__date {
    position: absolute;
    width: 58px;
    height: 58px;
    border-radius: 4px;
    bottom: 24px;
    left: 24px;
    background-color: #fff;
    font-size: 12px;
    line-height: 1.0;
    font-weight: 500;
    letter-spacing: 0.36px;
    color: #808080;
    text-align: center;
    padding: 6px 15px 10px;
    text-transform: uppercase;
}

.article__date span {
    line-height: 1.5;
    display: block;
    color: initial;
    font-size: 20px;
}

.article__footer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 14px;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid #E6E6E6;
}

.article__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 16px;
    row-gap: 10px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 8px;
}

.article__row>* {
    display: flex;
    gap: 4px;
}

.article__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #1A1A1A;
    margin-bottom: 20px;
}

.article__button {
    font-weight: 600;
    margin-top: auto;
}


/* ------- Hover ------- */


@media (any-hover: none) {
    .button-icon:not(:has(.icon--eye, .icon--heart)) {
        background-color: #00B207;
    }

    .icon--bag {
        color: #fff;
    }
}

@media(any-hover: hover) {
    /* ------- Card ------- */

    .button-icon {
        background-color: #F2F2F2;
    }

    .extra-buttons {
        opacity: 0;
        visibility: hidden;
    }

    .icon--bag {
        color: #1A1A1A;
    }

    .card__link:focus-visible {
        outline: 1px solid #2C742F
    }

    .card__link:hover {
        position: relative;
        z-index: 2;
        border: 1px solid #2C742F;
        box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
    }

    .card__link:hover .extra-buttons {
        opacity: 1;
        visibility: visible;
        transition: visibility 0.3s;
    }

    .card__link:hover .icon--bag {
        color: #fff;
    }

    .card__link:hover .button-icon:has(.icon--bag) {
        background-color: #00B207;

    }

    .card__link:hover .card__caption {
        color: #2C742F;
    }

    .button-icon:has(.icon--eye, .icon--heart):hover {
        cursor: pointer;
        background-color: #00B207;

    }

    .button-icon:has(.icon--eye):hover .icon--eye {
        color: #fff;
    }

    .button-icon:has(.icon--heart):hover .icon--heart {
        color: #fff;
    }

    /* ------- Article ------- */
    .article:hover .article__text {
        color: #2C742F;
    }

    .article:hover {
        box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.08);
        cursor: pointer;
    }
}

@media (min-width: 449px) {
    .card {
        flex: 0 0 calc(100% / 2);
        margin: 0 -1px -1px 0;
    }

    .card__caption {
        font-size: 14px;
    }

    .section__title {
        font-size: 24px;
    }

    .section__content {
        margin-top: 24px;
    }

    .page>.section {
        margin-bottom: 30px;
    }

    .article__text {
        font-size: 18px;
    }
}

@media (min-width:650px) {
    .card {
        flex: 0 0 calc(100% / 3);
    }

    .section__articles {
        gap: 18px;
    }

    .section__title {
        font-size: 28px;
    }

    .section__content {
        margin-top: 28px;
    }

    .page>.section {
        margin-bottom: 40px;
    }

    .article {
        flex: 0 0 calc((100% - 18px) / 2);
    }

    .article__footer {
        padding: 18px;
    }
}


@media (min-width:798px) {
    .card {
        flex: 0 0 calc(100% / 4);
    }

    .section__title {
        font-size: 32px;
    }

    .section__content {
        margin-top: 32px;
    }

    .page>.section {
        margin-bottom: 50px;
    }

    .article__footer {
        padding: 24px;
    }
}

@media (min-width:991.98px) {
    .card {
        flex: 0 0 calc(100% / 5);
    }

    .article {
        flex: 0 0 calc((100% - 48px) / 3);
    }

    .section__articles {
        gap: 24px;
    }

    .page>.section {
        margin-bottom: 60px;
    }
}

.footer {
    height: 100px;
    background-color: #99f49c;
}